* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
  background-color: #F0F0F0;
}

.navbar-brand {
  width: 25%;
}

a {
  margin-right: 10px;
  color: #fff;
}

li {
  word-wrap: break-word;
}

.navbar {
  padding-right: 41.9%;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  height: 55px;
  border-radius: 0;
  background-color: #f7931a;
}

.section {
  position: relative;
  min-height: 350px;
  margin-bottom: 25px;
  border-radius: 0;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.section-header {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 16px;
}

.article {
  border-bottom: 2px solid #9C9C7A;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

#articles {
  max-height: 295px;
  overflow: scroll;
}

.img_article {
  width: 100px;
}

.art_link {
  color: #0E827C;
}

#m, #nickname-input {
  height: 35px;
  border: 0;
  border-bottom: 2px solid lightgrey;
}

#chat {
  padding-bottom: 50px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #f9b640;
}

.send-message-wrapper {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

button.accept {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border: 0;
  padding: 5px 0;
  transition: all 0.2s ease-in-out;
  color: #fff;
  background: #177a39;
}

button.accept:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#message-display {
  padding: 0;
  max-height: 248px;
  min-height: 248px;
  overflow-y: scroll; 
}

form input {
  width: 80%;
  margin-right: 2.083%;
}

form button {
  width: 15%;
}

form {
  padding-left: 1.667%;
  padding-right: 1.667%;
  margin-left: 2.5%;
}

#footer {
  min-height: 300px;
  background-color: #f7931a;
}

#footer .footer-brand {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

.credits {
  margin-top: 10px;
}

.dev-box {
  text-align: center;
  font-weight: bold;
}

.pro-box {
  display: block;
  position: relative;
  width: 120px;
  margin: 10px auto;
  padding: 10px;
  background-color: #24292e;
  color: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.2s ease-in-out;
}

.pro-box:hover {
  text-decoration: none;
  color: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.pro-box:hover:active {
  text-decoration: none;
  color: #FFFFFF;
}

.pro-box .fa{
  position: absolute;
  left: 16px;
  top: 15px;
}

/* Modal Specific Styles */

.modal-content {
  border: none;
  border-radius: 0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-weight: bold;
  display: block;
  width: 100%;
}

#nickname-input {
  width: 250px;
}

.modal-accept {
  width: 90px;
}

.modal-footer {
  border-top: none;
}