body {
    background-color: #ffab00;
}

.card {
    min-height: 400px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #FFFFFF;
    border-radius: 0;
    margin-bottom: 30px;
}